@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: "Nunito", sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* HTML: <div class="loader"></div> */
.pageLoader {
  width: 50px;
  height: 28px;
  --_g: no-repeat radial-gradient(farthest-side, #34c759 94%, #0000);
  background: var(--_g) 50% 0, var(--_g) 100% 0;
  background-size: 14px 14px;
  position: relative;
  animation: l23-0 1.5s linear infinite;
}
.pageLoader:before {
  content: "";
  position: absolute;
  height: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #34c759;
  left: 0;
  top: 0;
  animation: l23-1 1.5s linear infinite,
    l23-2 0.5s cubic-bezier(0, 200, 0.8, 200) infinite;
}
@keyframes l23-0 {
  0%,
  31% {
    background-position: 50% 0, 100% 0;
  }
  33% {
    background-position: 50% 100%, 100% 0;
  }
  43%,
  64% {
    background-position: 50% 0, 100% 0;
  }
  66% {
    background-position: 50% 0, 100% 100%;
  }
  79% {
    background-position: 50% 0, 100% 0;
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}
@keyframes l23-1 {
  100% {
    left: calc(100% + 7px);
  }
}
@keyframes l23-2 {
  100% {
    top: -0.1px;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 77px;
  height: 12px;
  --_g: no-repeat radial-gradient(farthest-side, white 94%, #0000);
  background: var(--_g) 25% 0, var(--_g) 75% 0;
  background-size: 12px 12px;
  position: relative;
  animation: l24-0 1s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: white;
  inset: 0;
  margin: auto;
  animation: l24-1 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}

@keyframes l24-0 {
  0%,
  24% {
    background-position: 25% 0, 75% 0;
  }
  40% {
    background-position: 25% 0, 85% 0;
  }
  50%,
  72% {
    background-position: 25% 0, 75% 0;
  }
  90% {
    background-position: 15% 0, 75% 0;
  }
  100% {
    background-position: 25% 0, 75% 0;
  }
}
@keyframes l24-1 {
  100% {
    transform: translate(0.1px);
  }
}

/* HTML: <div class="loader"></div> */
.new-loader {
  width: 77px;
  height: 12px;
  --_g: no-repeat radial-gradient(farthest-side, #34c759 94%, #0000);
  background: var(--_g) 25% 0, var(--_g) 75% 0;
  background-size: 12px 12px;
  position: relative;
  animation: l24-0 1s linear infinite;
}
.new-loader:before {
  content: "";
  position: absolute;
  height: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #34c759;
  inset: 0;
  margin: auto;
  animation: l24-1 1s cubic-bezier(0.5, 300, 0.5, -300) infinite;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar-and-scroll-touch {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: "touch";
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    /* background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e4e4e7;
  }
}

.table-spinner {
  /* Spinner size and color */
  width: 1.3rem;
  height: 1.3rem;
  border-top-color: #34c759;
  border-left-color: #34c759;

  /* Additional table-spinner styles */
  animation: table-spinner 700ms linear infinite;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

/* Animation styles */
@keyframes table-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.table-spinner-size {
  width: 5rem;
  height: 5rem;
  border-width: 6px;
}

/* single patient page right section shadow */
.right-section-shadow {
  box-shadow: "-2px 0px 10px 2px rgba(0, 0, 0, 0.05)";
}

.react-tel-input .country-list li:nth-child(odd) {
  background-color: #f8f8f8 !important;
}

.react-tel-input .country-list li:nth-child(even) {
  background-color: white !important;
}

/* .react-tel-input { */
/* border-radius: 10px !important; */
/* overflow-y: hidden !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  -webkit-overflow-scrolling: "touch"; */
/* } */

.react-tel-input .country-list {
  border-radius: 10px !important;
  scrollbar-width: none !important;
  position: static !important;
}

.react-tel-input .selected-flag:hover {
  background-color: transparent !important;
  background: transparent !important;
}
.react-tel-input .selected-flag:active {
  background-color: transparent !important;
  background: transparent !important;
}
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
  background: transparent !important;
}
